<section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Here is some of the services i can offer</p>
      </div>

      <div class="row" >

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch"  data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-orange rounded" style="background-color:#dce8f8;">
            <div class="row align-items-stretch" >
              <img src="assets/img/portfolio-1.jpg" class="img-fluid" alt="">
            </div>
            <h4><a href="">User Interface</a></h4>
            <p> I Optimize the home and landing pages of websites and make them
              user-friendly.
             </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange rounded" style="background-color:#dce8f8;">
            <div class="row align-items-stretch">
              <img src="assets/img/portfolio-6.jpg"  alt="">
            </div>
            <h4><a href="">Web Development</a></h4>
            <p>Build website pages from scratch with HTML-CSS-Bootstrap.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch " data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-orange rounded" style="background-color:#dce8f8;">
            <div class="row align-items-stretch">
              <div class="row" >
                <img src="assets/img/portfolio-5.jpg" class="thumbnail" alt="">
              </div>
              <i class="bx bx-tachometer"></i>
            </div>
            <h4><a href="">Responsive design</a></h4>
            <p>I ensure that web applications and websites are optimized for different devices, such as desktops, tablets, and smartphones.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-orange rounded" style="background-color:#dce8f8;">
            <div class="row align-items-stretch">
              <div class="row" >
                <img src="assets/img/portfolio-4.jpg" class="img-fluid" alt="">
              </div>
              <i class="bx bx-layer"></i>
            </div>
            <h4><a href="">Performance optimization</a></h4>
            <p>optimize the performance of web applications by reducing load times and improving page speed.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange rounded" style="background-color:#dce8f8;">
            <div class="row align-items-stretch">
              <div class="row" >
                <img src="assets/img/portfolio-3.jpg" class="img-fluid" alt="">
              </div>
              <i class="bx bx-slideshow"></i>
            </div>
            <h4><a href="">Accessibility</a></h4>
            <p>ensure that web applications and websites are accessible to users with disabilities, including those who use assistive technologies like screen readers.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-orange rounded" style="background-color:#dce8f8;">
            <div class="row align-items-stretch">
              <div class="row" >
                <img src="assets/img/portfolio-2.jpg" class="img-fluid" alt="">
              </div>
              <i class="bx bx-arch"></i>
            </div>
            <h4><a href="">communicates with backend</a></h4>
            <p> building a web application or website that communicates with a backend API (Application Programming Interface) to retrieve and display data to the user.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->